:root {
    --bg-main-violet: #E75481;
    --bg-main-lblue: #929CDE;
    --bg-card: #FBFBFB;
    --color-title: #332821;
    --bg-stats-1: #D4426F;
    --color-date: #332821;
    --bg-stats-2: #6A75BA;
    --color-white: #fff;
    --bg-view-stats: #5E4FC1;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.page__block {
    max-width: 390px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page__content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    width: 100%;
    border-radius: 12px;
    background: linear-gradient(to bottom, var(--bg-main-violet), var(--bg-main-lblue));
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.menu:hover {
    cursor: pointer;
    opacity: 0.7;
    transition-duration: 0.7s;
}

.main__block {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.card__weather {
    position: relative;
    background-color: var(--bg-card);
    padding: 40px 8px;
    max-width: 230px;
    width: 100%;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.icon__weather {
    position: absolute;
    top: -130px;
}

.title__city {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-date);
    text-align: center;
}

.description__part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
    margin-bottom: 32px;
}

.info__city {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.temparute {
    font-size: 32px;
    font-weight: bold;
}

.date {
    font-size: 10px;
    color: var(--color-date);
}

.stats__1 {
    background-color: var(--bg-stats-1);
    color: var(--color-white);
    font-size: 10px;
    padding: 8px;
    border-radius: 20px;
    text-align: center;
}

.stats__2 {
    background-color: #6A75BA;
    color: var(--color-white);
    font-size: 10px;
    padding: 8px;
    border-radius: 20px;
    text-align: center;
}

.btn__viewStats {
    position: absolute;
    bottom: -18px;
    padding: 12px 20px;
    background-color: var(--bg-view-stats);
    border: none;
    border-radius: 20px;
    color: var(--color-white);
    font-weight: bold;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn__viewStats:hover {
    cursor: pointer;
    opacity: 0.7;
    transition-duration: 0.7s;
}

.block__info__stats {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.stats__block {
    display: flex;
    align-items: center;
    gap: 8px;
}

.stat {
    color: var(--color-white);
    font-size: 18px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    background-color: var(--color-white);
    padding: 12px;
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home:hover {
    cursor: pointer;
    opacity: 0.7;
    transition-duration: 0.7s;
}

.flex {
    display: flex;
    align-items: center;
    gap: 32px;
}

.flex_column{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.loading-text {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.search__block {
    max-width: 240px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.form__search {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon__search:hover {
    opacity: 0.7;
    cursor: pointer;
}

.search-input {
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 8px;
}

.search-button {
    border: none;
    font-size: 14px;
    background-color: var(--color-white);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 8px;
}

.search-button:hover {
    opacity: 0.7;
    cursor: pointer;
}





